In [1]:
import warnings
warnings.filterwarnings('ignore')

In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv('song_data-test.csv')
print(df.shape)
df.tail()

(391969, 21)

,title,artist,area,youtube_link,spotify_link,youtube_view_count,youtube_like_count,acousticness,danceability,duration_ms,...,instrumentalness,key,liveness,loudness,mode,speechiness,tempo,time_signature,valence,popularity
391964,Come Back Home,Calum Scott,NaN,NaN,0cvfSKcm9VeduwyYPrxtLx,NaN,NaN,0.00678,0.601,190539.0,...,0.0,11.0,0.0991,-5.174,1.0,0.0323,131.049,4.0,0.2890,57.0
391965,Enough for You,Saint Claire,NaN,NaN,43MP9F7UzvfilSrw2SqZGJ,NaN,NaN,0.91800,0.387,194583.0,...,0.0,9.0,0.1030,-13.233,1.0,0.0437,94.039,4.0,0.3460,60.0
391966,Do It,Mike Stud,NaN,NaN,4TWlUuFk81NGUNKwndyS5Q,NaN,NaN,0.33000,0.717,139191.0,...,0.0,8.0,0.0997,-8.351,0.0,0.2060,156.977,4.0,0.5460,47.0
391967,No Smoke,D Savage,NaN,NaN,5iGBXzOoRo4sBTy8wdzMyK,NaN,NaN,0.00790,0.772,180013.0,...,0.0,4.0,0.1310,-9.670,0.0,0.1200,120.049,4.0,0.0755,50.0
391968,En Vida,Banda Los Sebastianes,NaN,NaN,7LNtyuekYHiZ99UxkrfCQR,NaN,NaN,0.54900,0.715,145827.0,...,0.0,3.0,0.1080,-3.244,1.0,0.0367,130.128,3.0,0.9760,55.0

In [4]:
df['artist']

0                      "#Botsu"
1         "El Cholo" Valderrama
2         "El Cholo" Valderrama
3         "El Cholo" Valderrama
4         "El Cholo" Valderrama
                  ...
391964              Calum Scott
391965             Saint Claire
391966                Mike Stud
391967                 D Savage
391968    Banda Los Sebastianes
Name: artist, Length: 391969, dtype: object

In [5]:
import random
seed_value = 42
np.random.seed(seed_value)
dff = df.sample(n=50000,).reset_index()
#Set up hàng x cột ở đây, đang bị tràn bộ nhớ nên set 10000
print("Columns:", dff.columns)

Columns: Index(['index', 'title', 'artist', 'area', 'youtube_link', 'spotify_link',
       'youtube_view_count', 'youtube_like_count', 'acousticness',
       'danceability', 'duration_ms', 'energy', 'instrumentalness', 'key',
       'liveness', 'loudness', 'mode', 'speechiness', 'tempo',
       'time_signature', 'valence', 'popularity'],
      dtype='object')

In [6]:
dff.drop(['duration_ms','youtube_link','spotify_link'],axis=1,inplace=True)

In [7]:
dfff = dff

In [8]:
dff = dff[['artist','youtube_view_count','acousticness','danceability','energy','instrumentalness','key','liveness','loudness','mode','speechiness','tempo','time_signature','valence','popularity']]

In [9]:
import ast

def fetch_list(strings):
    try:
        result = ast.literal_eval(strings)
        return result if isinstance(result, list) else [result]
    except (SyntaxError, ValueError):
        try:
            return [s.strip('"\'') for s in strings.split(',')]
        except Exception as e:
            print(f"Error processing expression in {strings}. Error: {e}")
            return []

# Print the 'artist' column before applying the fetch_list function
print("Before:")
print(dff['artist'])

# Apply the modified fetch_list function to the 'artist' column
dff['artist'] = dff['artist'].apply(fetch_list)

# Print the 'artist' column after applying the fetch_list function
print("\nAfter:")
print(dff['artist'])

Before:
0                       LANY
1              Peter Gregson
2                 Mando Diao
3        The Andrews Sisters
4                    Sofiane
                ...
49995           Judy Collins
49996        Trisha Yearwood
49997                  Rufio
49998            Laura Veirs
49999              TigerLily
Name: artist, Length: 50000, dtype: object

After:
0                       [LANY]
1              [Peter Gregson]
2                 [Mando Diao]
3        [The Andrews Sisters]
4                    [Sofiane]
                 ...
49995           [Judy Collins]
49996        [Trisha Yearwood]
49997                  [Rufio]
49998            [Laura Veirs]
49999              [TigerLily]
Name: artist, Length: 50000, dtype: object

In [10]:
dff['artist'] = dff['artist'].apply(lambda x: " ".join(map(str, x)))

In [11]:
dff['artist'] = dff['artist'].apply(lambda x: x.lower())

In [12]:
dff['artist'].value_counts()

artist
johann sebastian bach         422
wolfgang amadeus mozart       209
armin van buuren              154
ludwig van beethoven          105
frédéric chopin                88
                             ...
ledger                          1
francesco geminiani             1
panic boyz                      1
zebbler encanti experience      1
joy.                            1
Name: count, Length: 12678, dtype: int64

In [13]:
dff['artist'].unique()

array(['lany', 'peter gregson', 'mando diao', ..., 'naps', 'reva devito',
       'joy.'], dtype=object)

In [14]:
dff['artist']=pd.factorize(dff['artist'])[0]

In [15]:
dff

,artist,youtube_view_count,acousticness,danceability,energy,instrumentalness,key,liveness,loudness,mode,speechiness,tempo,time_signature,valence,popularity
0,0,NaN,0.322000,0.702,0.6230,0.000000,0.0,0.0858,-8.360,1.0,0.0417,104.974,4.0,0.503,75.0
1,1,NaN,0.000153,0.567,0.9620,0.000000,0.0,0.0598,-4.486,1.0,0.0661,115.018,4.0,0.576,NaN
2,2,71407.0,0.552000,0.571,0.3880,0.000000,4.0,0.1140,-11.671,1.0,0.0265,102.009,4.0,0.196,NaN
3,3,NaN,0.968000,0.430,0.0804,0.000000,0.0,0.0885,-13.574,1.0,0.0560,138.613,3.0,0.169,NaN
4,4,NaN,0.220000,0.522,0.8690,0.000000,1.0,0.1210,-3.959,1.0,0.3230,93.838,3.0,0.380,43.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49995,563,205987.0,0.608000,0.491,0.5580,0.000000,6.0,0.0747,-14.419,1.0,0.0554,82.619,4.0,0.503,NaN
49996,1709,1102.0,0.035000,0.812,0.7530,0.060800,0.0,0.0338,-7.687,1.0,0.0582,120.870,4.0,0.957,NaN
49997,443,20534.0,0.041800,0.550,0.9490,0.000000,8.0,0.3690,-2.172,1.0,0.0590,144.843,4.0,0.628,NaN
49998,3461,1115992.0,0.180000,0.572,0.5800,0.000003,3.0,0.0662,-5.642,1.0,0.0571,156.000,4.0,0.387,NaN
49999,10898,NaN,0.009010,0.564,0.7700,0.000737,9.0,0.1370,-7.244,1.0,0.0420,179.968,4.0,0.777,NaN

In [16]:
dff['mode'] = dff['mode'].astype(bool)
dff=dff.fillna(0)
dff
# dff['explicit'] = dff['explicit'].astype(bool)

,artist,youtube_view_count,acousticness,danceability,energy,instrumentalness,key,liveness,loudness,mode,speechiness,tempo,time_signature,valence,popularity
0,0,0.0,0.322000,0.702,0.6230,0.000000,0.0,0.0858,-8.360,True,0.0417,104.974,4.0,0.503,75.0
1,1,0.0,0.000153,0.567,0.9620,0.000000,0.0,0.0598,-4.486,True,0.0661,115.018,4.0,0.576,0.0
2,2,71407.0,0.552000,0.571,0.3880,0.000000,4.0,0.1140,-11.671,True,0.0265,102.009,4.0,0.196,0.0
3,3,0.0,0.968000,0.430,0.0804,0.000000,0.0,0.0885,-13.574,True,0.0560,138.613,3.0,0.169,0.0
4,4,0.0,0.220000,0.522,0.8690,0.000000,1.0,0.1210,-3.959,True,0.3230,93.838,3.0,0.380,43.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49995,563,205987.0,0.608000,0.491,0.5580,0.000000,6.0,0.0747,-14.419,True,0.0554,82.619,4.0,0.503,0.0
49996,1709,1102.0,0.035000,0.812,0.7530,0.060800,0.0,0.0338,-7.687,True,0.0582,120.870,4.0,0.957,0.0
49997,443,20534.0,0.041800,0.550,0.9490,0.000000,8.0,0.3690,-2.172,True,0.0590,144.843,4.0,0.628,0.0
49998,3461,1115992.0,0.180000,0.572,0.5800,0.000003,3.0,0.0662,-5.642,True,0.0571,156.000,4.0,0.387,0.0
49999,10898,0.0,0.009010,0.564,0.7700,0.000737,9.0,0.1370,-7.244,True,0.0420,179.968,4.0,0.777,0.0

In [17]:
from sklearn.metrics.pairwise import cosine_similarity

In [18]:
vectors = dff.to_numpy()

In [19]:
vectors

array([[0, 0.0, 0.322, ..., 4.0, 0.503, 75.0],
       [1, 0.0, 0.000153, ..., 4.0, 0.576, 0.0],
       [2, 71407.0, 0.552, ..., 4.0, 0.196, 0.0],
       ...,
       [443, 20534.0, 0.0418, ..., 4.0, 0.628, 0.0],
       [3461, 1115992.0, 0.18, ..., 4.0, 0.387, 0.0],
       [10898, 0.0, 0.00901, ..., 4.0, 0.777, 0.0]], dtype=object)

In [ ]:
similarity = cosine_similarity(vectors)

In [ ]:
similarity.shape

In [ ]:
#sorted(similarity[0],reverse=True)

In [ ]:
#list(enumerate(similarity[0]))

In [ ]:
sorted(list(enumerate(similarity[0])),reverse=True,key=lambda x:x[1])[1:11]

In [ ]:
#dfff[dfff["name"]=='Sister'].index
def recommend(song):
    song_index = dfff[dfff["title"]==song].index[0]
    distance = similarity[song_index]
    songs_list = sorted(list(enumerate(distance)),reverse=True,key=lambda x:x[1])[1:11]
    for i in songs_list:
        print(dfff.iloc[i[0]]['title'])

In [ ]:
dfff.tail()

In [ ]:
recommend('Space Vacation')

In [ ]:
dff

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.metrics.pairwise import cosine_similarity

# Assuming 'dff' is your original DataFrame
seed_value = 42
random.seed(seed_value)
np.random.seed(seed_value)

# Sample a subset of data
dff_sampled = dff.sample(n=10000).reset_index(drop=True)

# Split the data into training and testing sets
train_data, test_data = train_test_split(dff_sampled, test_size=0.2, random_state=seed_value)

# Fill NaN values with 0
train_data_filled = train_data.fillna(0)

# Convert the training data to a numpy array
vectors_train = train_data_filled.to_numpy()

# Compute cosine similarity
similarity_train = cosine_similarity(vectors_train)

# Display the first few rows of the similarity matrix
print(similarity_train[:5, :5])

In [ ]:
import numpy as np

def get_items_rated_by_user(rates, user_idx):
    """
    Get items (indices) rated by a specific user.

    Parameters:
    - rates (numpy.ndarray): User-item rating matrix.
    - user_idx (int): Index of the user.

    Returns:
    - Tuple: Indices and scores of items rated by the user.
    """
    items_rated = np.where(rates[:, user_idx] > 0)[0]
    
    if len(items_rated) == 0:
        return [], []
    
    scores = rates[items_rated, user_idx]
    return items_rated, scores

def calculate_rmse(Yhat, rates):
    se = 0
    cnt = 0
    for n in range(min(len(Yhat[0]), rates.shape[1])):
        if np.any(rates[:, n] > 0):  # Check if the user has rated any items
            ids, scores_truth = get_items_rated_by_user(rates, n)
            scores_pred = Yhat[ids, n]
            e = scores_truth - scores_pred 
            se += (e * e).sum(axis=0)
            cnt += e.size
    return np.sqrt(se / cnt)

print("Before calculating RMSE:")
print("similarity_train shape:", similarity_train.shape)
print("vectors_train shape:", vectors_train.shape)

rmse_train = calculate_rmse(similarity_train, vectors_train)
print(f'RMSE for training: {rmse_train}')

In [ ]:
from sklearn.metrics import roc_auc_score

# ... Your previous code ...

# Create a mapping between numeric values and original 'song_title'
numeric_to_song_title = dict(enumerate(test_data['title'].unique()))
song_title_to_numeric = {v: k for k, v in numeric_to_song_title.items()}

# Initialize lists to store ground truth labels and predicted scores
y_true_list = []
y_scores_list = []

# Iterate over items in the testing set
for item in test_data['song_title'].unique():
    # Ground truth: Users who interacted with the item (positive interactions)
    ground_truth = test_data[test_data['title'] == item]['user'].values
    
    # Generate recommendations for the item using your recommend function
    recommendations_numeric = recommend(item)
    
    # Convert numeric recommendations back to 'song_title'
    recommendations = [numeric_to_song_title[num] for num in recommendations_numeric]
    
    # Convert ground truth to binary array
    y_true = np.isin(recommendations, ground_truth).astype(int)
    
    # Append the ground truth labels and predicted scores
    y_true_list.extend(y_true)
    y_scores_list.extend(recommendations)

# Calculate AUC
auc_score = roc_auc_score(y_true_list, y_scores_list)
print(f'AUC: {auc_score}')